--selector=rofi
--clipboarder=xclip
--typer=xdotool
--no-cache
--no-folder
--clear-after=120
--action=copy
--target=password
--keybindings=Alt+w:copy:username,Ctrl+w:copy:password,Alt+m::menu,Alt+s:sync,Alt+p:print:username:password,Alt+x:type:username:tab:password:enter
--menu-keybindings=Alt+w:copy,Alt+t:type,Alt+p:print
--prompt='Search entry'