// External (center)
output "HDMI-A-1" {
    mode "1920x1080"
    scale 1.0
    position x=1536 y=0
    
    focus-at-startup
}

// Internal (left)
output "eDP-1" {
    mode "1920x1080"
    scale 1.25
    position x=0 y=216
}